
*.dat

*.dep

*.hmap

*.o

*.pbxbtree

*.header

*.xcworkspacedata

*.xcscheme

*.xcsettings

*.plist

*.xcbkptlist

*.xcuserstate

*.pbxuser

*.pbxproj

*.pbxsymbols

*.pbxstrings

*.LinkFileList

*.xcodeproj
